
<!-- Page Content -->
<div class="container">

    <!-- Page Heading -->
    <h1 class="my-4">Nossos cursos:<br/>
      <em><small>Produtos oferecidos !!</small></em>
    </h1>
  
    <div class="row">
      <div *ngFor="let produto of produtos" class="col-lg-3 col-md-4 col-sm-6 mb-4">
        <div class="card h-100">
          <a><img class="card-img-top" src="{{produto.linkfoto}}" alt=""></a>
          <div class="card-body ">
            <h4 class="card-title">
              <a>{{produto.titulo}}</a>
            </h4>
            <p class="card-text">{{produto.detalhes}}</p>
            </div>
        </div>
      </div>
    </div>
</div>